<!doctype html>
<html lang="en">

<head>
  <!-- title -->
  <title>{{ title }}</title>

  <!-- meta tags -->
  <meta charset="UTF-8">
  <meta name="description" content="Technical prototype designer turned Head of
  Operations. Built user interfaces in a computer vision and NLP setting. First
  as an early MetaMind employee, and later as a founding member of Salesforce
  Research. Prior to that, he founded a design agency in Napa Valley.">
  <meta name="author" content="Melvin Gruesbeck">
  <meta name="keywords" content="melvin gruesbeck, designer, ux, ui, engineer">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">

  <!-- styles -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../assets/stylesheets/normalize.css">
  <link rel="stylesheet" href="../assets/stylesheets/custom.css">
  <link rel="icon" type="image/x-icon" href="../assets/images/favicon.ico">

  <!-- Facebook -->
  <meta property="og:title" content="Melvin Gruesbeck">
  <meta property="og:url" content="https://mgruesbeck.github.io/">
  <meta property="og:image"
    content="https://raw.githubusercontent.com/mgruesbeck/mgruesbeck.github.io/master/melvin-gruesbeck.jpg">
  <meta property="og:description" content="Technical prototype designer turned Head of
  Operations. Built user interfaces in a computer vision and NLP setting. First
  as an early MetaMind employee, and later as a founding member of Salesforce
  Research. Prior to that, he founded a design agency in Napa Valley.">

  <!-- Twitter -->
  <meta name="twitter:title" content="Melvin Gruesbeck">
  <meta name="twitter:url" content="https://mgruesbeck.github.io/">
  <meta name="twitter:image"
    content="https://raw.githubusercontent.com/mgruesbeck/mgruesbeck.github.io/master/melvin-gruesbeck.jpg">
  <meta name="twitter:description" content="Technical prototype designer turned Head of
  Operations. Built user interfaces in a computer vision and NLP setting. First
  as an early MetaMind employee, and later as a founding member of Salesforce
  Research. Prior to that, he founded a design agency in Napa Valley.">

  <!-- analytics -->
</head>

<body>
    {{ content | safe }}
</body>

</html>